@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	.max-container {
		@apply max-w-[1024px] w-full mx-auto;
	}

	.shadow-button-cards {
		-webkit-box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.12);
		-moz-box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.12);
		box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.12);
	}

	.shadow-form {
		-webkit-box-shadow: 4px 5px 6px 1px rgba(0, 0, 0, 0.12);
		-moz-box-shadow: 4px 5px 6px 1px rgba(0, 0, 0, 0.12);
		box-shadow: 4px 5px 6px 1px rgba(0, 0, 0, 0.12);
	}

	.input-form {
		@apply border-b border-black w-full p-1 border-0;
		@apply focus:outline-none;
	}
}
